@import 'variables.scss';

$smoke       : #eee;
$iron        : #ccc;
$steel       : #666;
$night       : #111;
$bg-text-highlight: #fff9c0;

/* =Global
----------------------------------------------- */

body, button, input, select, textarea {
  color: $text-medium;
  line-height: 1.5;
}

body {
  font-family: $ff-body;
  font-size: $fs-body;
}

button {
  font-family: $ff-buttons;
  font-size: $fs-buttons;
}

input, select, textarea {
  font-family: $ff-inputs;
  font-size: $fs-inputs;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

h2, h3 {
  font-family: $ff-headers;
  font-weight: $fw-headers;
}

h1 {
  font-family: $ff-h1;
  font-weight: $fw-h1;
}

hr {
  background-color: $iron;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/* Text elements */

p {
  margin-bottom: 1.5em;
}

ul, ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > {
  ul, ol {
    margin-bottom: 0;
    margin-left: 1.5em;
  }
}

dt {
  font-weight: $fw-body-bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

b, strong {
  font-weight: $fw-body-bold;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: $smoke;
  font-family: $ff-mono;
  font-size: $fs-mono;
  line-height: $line-height-mono;
  margin-bottom: 1.6em;
  padding: 1.6em;
  overflow: auto;
  max-width: 100%;
}

code, kbd, tt, var {
  font: $fs-mono $ff-mono;
}

abbr, acronym {
  border-bottom: 1px dotted $steel;
  cursor: help;
}

mark, ins {
  background: $bg-text-highlight;
  text-decoration: none;
}

sup, sub {
  font-size: $fs-small;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: $fs-small;
}

big {
  font-size: $fs-big;
}

figure {
  margin: 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

th {
  font-weight: $fw-body-bold;
  vertical-align: middle;
}

td {
  vertical-align: middle;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* links */

a {
  color: $primary;
  &:active {
    color: $primary;
  }
  &:hover {
    color: $text;
  }
}

button, input, select, textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */
}

input {
  font: $fs-inputs $ff-inputs;
  line-height: $line-height-body;

  /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
  &[type="checkbox"], &[type="radio"] {
    box-sizing: border-box;
    /* Addresses box sizing set to content-box in IE8/9 */
    padding: 0;
    /* Addresses excess padding in IE8/9 */
  }
  &[type="search"] {
    -webkit-appearance: textfield;
    /* Addresses appearance set to searchfield in S5, Chrome */
    /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
    box-sizing: content-box;
    &::-webkit-search-decoration {
      /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
      -webkit-appearance: none;
    }
  }
  &::-moz-focus-inner {
    /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
    border: 0;
    padding: 0;
  }
  &[type="text"], &[type="email"], &[type="password"], &[type="search"] {
    color: $steel;
    border: 1px solid $iron;
  }
  &[type="text"]:focus, &[type="email"]:focus, &[type="password"]:focus, &[type="search"]:focus {
    color: $night;
  }
  &[type="text"], &[type="email"], &[type="password"], &[type="search"] {
    padding: 3px;
  }
}

textarea {
  font: $fs-inputs $ff-inputs;
  line-height: $line-height-body;
  color: $steel;
  border: 1px solid $iron;
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%;
  
  &:focus {
    color: $night;
  }
}

button {
  display: inline-block;
  background: $bg-button;
  color: $text-button;
  text-decoration: none;
  padding: 10px;
  border: $border-button;
  font-weight: $fw-buttons;
  cursor: pointer;
  font-size: 100%;
  line-height: normal;

  @include card(1);
  
  /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
  &::-moz-focus-inner {
    /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
    border: 0;
    padding: 0;
  }
  &:hover, &:focus, &:active {
    background: $bg-button-hover;
  }
}

input {
  &[type="button"], &[type="reset"], &[type="submit"] {
    display: inline-block;
    background: $bg-button;
    color: $text-button;
    text-decoration: none;
    padding: 10px;
    border: $border-button;
    font-weight: $fw-buttons;
    cursor: pointer;
    font-size: 100%;
    
    @include card(1);
  
    &:hover, &:focus, &:active {
      background: $bg-button-hover;
    }
  }
}


.button-primary, a.button-primary, .wpm-button-primary, a.wpm-button-primary {
  display: inline-block;
  background: $bg-button-primary;
  color: $text-button-primary;
  text-decoration: none;
  padding: 10px;
  border: $border-button-primary;
  font-weight: $fw-buttons;
  cursor: pointer;
  font-size: 100%;
  
  @include card(1);
  
  &:hover, &:focus, &:active {
    background: $bg-button-primary-hover;
  }
}

.button, a.button, .wpm-button, a.wpm-button {
  display: inline-block;
  background: $bg-button-dark;
  color: $text-button-dark;
  border: $border-button-dark;
  text-decoration: none;
  padding: 10px;
  
  &:hover {
    background: lighten($bg-button-dark-hover, 5%);
  }
}

/* Alignment */

.alignleft {
  display: inline;
  float: left;
  margin: 0 20px 20px 0;
}

.alignright {
  display: inline;
  float: right;
  margin: 0 0 20px 20px;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 20px auto;
}

.alignnone {
  clear: both;
  display: block;
  margin: 20px 0;
}

/* Text meant only for screen readers */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  &:hover, &:active, &:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */
  }
}

/* Clearing */

.clear {
  &:before, &:after {
    content: '';
    display: table;
  }
}

[class*="content"] {
  &:before, &:after {
    content: '';
    display: table;
  }
}

[class*="site"] {
  &:before, &:after {
    content: '';
    display: table;
  }
}

.clear:after, [class*="content"]:after, [class*="site"]:after {
  clear: both;
}
