$white       : #fff;
$ghost       : #fafafa;
$snow        : #f9f9f9;
$vapor       : #f6f6f6;
$white-smoke : #f5f5f5;
$silver      : #efefef;
$smoke       : #eee;
$gainsboro   : #ddd;
$iron        : #ccc;
$base        : #aaa;
$aluminum    : #999;
$jumbo       : #888;
$monsoon     : #777;
$steel       : #666;
$charcoal    : #555;
$tuatara     : #444;
$oil         : #333;
$jet         : #222;
$night       : #111;
$black       : #000;

$primary: #117bb8;

$body-bg: $oil;

$text: #3a3a3a;
$text-medium: #404040;
$text-light: #606060;
$text-lighter: #878787;
$text-lightest: $base;
$text-highlight: #fff9c0;
$text-meta: $base;
$text-caption: $aluminum;
$text-thumbnail: $monsoon;

$bg-caption: $silver;
$bg-block: #f7f7f7;
$bg-pre-block: $white-smoke;
$bg-navigation: #3a3a3a;
$bg-navigation-hover: #474747;
$bg-thumbnail: #3a3a3a;

$divider-lighter: $gainsboro;
$divider-light: $iron;

$divider-thumbnail: #212121;
$divider-twitter: #f7f7f7;