$white: #fff;
$light: #aaa;
$dark: #3a3a3a;

$primary: #117bb8;

// Uses of Light
$bg-body: darken($dark, 2.5%);

$text: $dark;
$text-medium: lighten($text, 2.5%);
$text-light: lighten($text, 15%);
$text-lighter: lighten($text, 30%);
$text-meta: $light;
$text-inverse-soft: $light;
$text-inverse-hard: $white;
$text-caption: lighten($text, 37.5%);
$text-thumbnail: lighten($text, 25%);

$bg-content: $white;
$bg-navigation: $dark;
$bg-navigation-hover: lighten($bg-navigation, 5%);

$bg-thumbnail: $dark;
$bg-caption: lighten($light, 25%);

$bg-pre-block: lighten($light, 30%);
$bg-block: lighten($light, 30%);

$divider-lighter: lighten($light, 20%);
$divider-light: lighten($light, 13.5%);

$thumbnail-divider: darken($dark, 10%);
$twitter-divider: lighten($light, 30%);

$inf-handle-bg-hover: darken($dark, 2.5%);

// Uses of Primary
$title-hover: $primary;
$link-hover: $primary;
$current-page-item-bg: $primary;
$current-page-item-bg-hover: lighten($primary, 5%);
$thumbnail-bg-hover: $primary;
$thumbnail-divider-hover: darken($primary, 10%);

$inf-handle-bg: $primary;